In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt

In [2]:
error_messages_accumulated = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/error_messages_accumulated.csv')
error_messages_timeline = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/error_messages_timeline.csv')
oee_data = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/oee_data.csv')
package_data = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/package_data.csv')
recipe_data = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/recipe_data.csv')

In [3]:
error_messages_accumulated

,machine_identifier,timestamp,accumulated_dead_time,identifier,station,station_instance,subsystem_instance,code
0,innovative_cheese_machine,2022-05-04T00:00:00.000Z,35.973,1.0.130.1.1010.0.1.0,1,0,1,1010
1,innovative_cheese_machine,2022-05-17T06:00:00.000Z,14.188,1.0.130.1.1010.0.1.0,1,0,1,1010
2,innovative_cheese_machine,2022-05-18T14:00:00.000Z,111.604,1.0.130.1.1010.0.1.0,1,0,1,1010
3,innovative_cheese_machine,2022-05-19T06:00:00.000Z,240.811,1.0.130.1.1010.0.1.0,1,0,1,1010
4,innovative_cheese_machine,2022-05-20T01:00:00.000Z,61.590,1.0.130.1.1010.0.1.0,1,0,1,1010
...,...,...,...,...,...,...,...,...
1154,innovative_cheese_machine,2022-07-14T22:00:00.000Z,23.596,93.0.122.0.1019.0.1.0,93,0,0,1019
1155,innovative_cheese_machine,2022-07-19T05:00:00.000Z,48.621,93.0.122.0.1019.0.1.0,93,0,0,1019
1156,innovative_cheese_machine,2022-07-21T03:00:00.000Z,0.024,93.0.122.0.1019.0.1.0,93,0,0,1019
1157,innovative_cheese_machine,2022-07-22T19:00:00.000Z,70.117,93.0.122.0.1019.0.1.0,93,0,0,1019
1158,innovative_cheese_machine,2022-07-26T19:00:00.000Z,34.728,93.0.122.0.1019.0.1.0,93,0,0,1019

In [4]:
error_messages_timeline

,machine_identifier,start_ts,end_ts,duration_in_s,identifier,station,station_instance,subsystem_instance,code
0,innovative_cheese_machine,2022-05-03T08:04:47.337Z,2022-05-03T08:06:19.613Z,92.276,20.0.116.1.1181.0.1.0,20,0,1,1181
1,innovative_cheese_machine,2022-05-03T08:06:19.637Z,2022-05-03T08:06:32.730Z,13.093,20.0.116.1.1181.0.1.0,20,0,1,1181
2,innovative_cheese_machine,2022-05-03T08:06:32.970Z,2022-05-03T08:06:44.346Z,11.376,20.0.116.1.1181.0.1.0,20,0,1,1181
3,innovative_cheese_machine,2022-05-03T08:06:44.370Z,2022-05-03T08:06:58.125Z,13.755,20.0.116.1.1181.0.1.0,20,0,1,1181
4,innovative_cheese_machine,2022-05-03T08:06:58.149Z,2022-05-03T08:09:54.155Z,176.006,20.0.116.1.1181.0.1.0,20,0,1,1181
...,...,...,...,...,...,...,...,...,...
1588,innovative_cheese_machine,2022-07-30T02:59:49.569Z,2022-07-30T03:00:24.497Z,34.928,10.0.621.0.2300.0.0.0,10,0,0,2300
1589,innovative_cheese_machine,2022-07-30T03:00:33.133Z,2022-07-30T03:00:53.841Z,20.708,10.0.621.0.2300.0.0.0,10,0,0,2300
1590,innovative_cheese_machine,2022-07-30T03:01:28.682Z,2022-07-30T03:01:46.402Z,17.720,3.0.0.0.1168.0.0.0,3,0,0,1168
1591,innovative_cheese_machine,2022-07-30T03:01:50.782Z,2022-07-30T03:02:08.658Z,17.876,3.0.0.0.1168.0.0.0,3,0,0,1168
1592,innovative_cheese_machine,2022-07-30T03:02:13.038Z,2022-07-30T03:02:31.486Z,18.448,3.0.0.0.1168.0.0.0,3,0,0,1168

In [5]:
oee_data

,machine_identifier,timestamp,expected_cycles_per_minute,actual_cycles_per_minute
0,innovative_cheese_machine,2022-05-09T04:44:33.000Z,NaN,0.368070
1,innovative_cheese_machine,2022-05-30T18:51:51.000Z,NaN,5.289140
2,innovative_cheese_machine,2022-06-02T10:47:03.000Z,NaN,8.800000
3,innovative_cheese_machine,2022-06-05T20:20:38.000Z,NaN,8.800000
4,innovative_cheese_machine,2022-05-03T10:20:10.000Z,9.0,NaN
...,...,...,...,...
120181,innovative_cheese_machine,2022-07-29T21:04:47.000Z,NaN,3.699137
120182,innovative_cheese_machine,2022-07-30T13:18:54.000Z,5.0,0.000000
120183,innovative_cheese_machine,2022-07-30T12:21:56.000Z,5.0,0.000000
120184,innovative_cheese_machine,2022-07-31T15:48:32.000Z,5.0,0.000000
120185,innovative_cheese_machine,2022-07-31T16:45:30.000Z,5.0,0.000000

In [6]:
oee_data['machine_identifier'].value_counts()

innovative_cheese_machine    120186
Name: machine_identifier, dtype: int64

In [7]:
oee_data.describe()

       expected_cycles_per_minute  actual_cycles_per_minute
count                  693.000000             119578.000000
mean                     8.024531                  6.134943
std                      1.234864                  2.793813
min                      4.000000                  0.000000
25%                      7.500000                  4.763417
50%                      8.300000                  7.000000
75%                      9.000000                  8.450705
max                     15.000000                 10.000000

In [8]:
package_data

,machine_identifier,timestamp,good_packs,reject_packs
0,innovative_cheese_machine,2022-05-04T13:05:49.295Z,23,1
1,innovative_cheese_machine,2022-05-04T01:15:28.947Z,24,0
2,innovative_cheese_machine,2022-05-04T06:13:54.767Z,20,4
3,innovative_cheese_machine,2022-05-04T03:35:29.769Z,24,0
4,innovative_cheese_machine,2022-05-04T03:53:27.950Z,24,0
...,...,...,...,...
270150,innovative_cheese_machine,2022-07-14T22:11:53.793Z,24,0
270151,innovative_cheese_machine,2022-07-14T23:02:16.448Z,23,1
270152,innovative_cheese_machine,2022-07-15T01:08:52.321Z,24,0
270153,innovative_cheese_machine,2022-07-14T22:10:55.457Z,24,0
270154,innovative_cheese_machine,2022-07-15T00:49:27.268Z,24,0

In [9]:
package_data.describe()

          good_packs   reject_packs
count  270155.000000  270155.000000
mean       22.895986       1.087787
std         3.287498       3.231681
min         0.000000       0.000000
25%        23.000000       0.000000
50%        24.000000       0.000000
75%        24.000000       1.000000
max        24.000000      24.000000

In [10]:
22.895986*270155

6185465.09783

In [11]:
package_data["good_packs"].sum()

6185465

In [12]:
package_data["reject_packs"].sum()

293871

In [13]:
recipe_data

,machine_identifier,timestamp,recipe
0,innovative_cheese_machine,2022-06-06T20:51:16.477+0000,cheese sticks
1,innovative_cheese_machine,2022-05-02T12:28:08.513+0000,vegan parmesan
2,innovative_cheese_machine,2022-05-31T08:04:17.208+0000,vegan cheese sticks
3,innovative_cheese_machine,2022-07-07T11:04:10.479+0000,vegan hero 150g
4,innovative_cheese_machine,2022-06-22T22:19:12.227+0000,vegan hero 150g
...,...,...,...
85,innovative_cheese_machine,2022-05-31T10:55:45.190+0000,vegan cheese sticks
86,innovative_cheese_machine,2022-07-08T06:51:28.402+0000,vegan hero 150g
87,innovative_cheese_machine,2022-06-15T08:12:33.662+0000,cheese sticks
88,innovative_cheese_machine,2022-05-02T06:08:38.260+0000,vegan parmesan
89,innovative_cheese_machine,2022-05-27T12:37:17.207+0000,vegan parmesan

In [14]:
recipe_data['recipe'].value_counts()

vegan parmesan         45
vegan hero 150g        18
vegan cheese sticks    12
cheese sticks          11
vegan hero 400g         3
test                    1
Name: recipe, dtype: int64

In [15]:
recipe_data_vegan_parmesan = recipe_data.loc[recipe_data['recipe'] == "vegan parmesan"]

In [16]:
recipe_data_vegan_parmesan.head()

           machine_identifier                     timestamp          recipe
1   innovative_cheese_machine  2022-05-02T12:28:08.513+0000  vegan parmesan
7   innovative_cheese_machine  2022-05-27T09:00:49.677+0000  vegan parmesan
8   innovative_cheese_machine  2022-05-02T07:22:22.632+0000  vegan parmesan
9   innovative_cheese_machine  2022-05-27T12:04:25.245+0000  vegan parmesan
11  innovative_cheese_machine  2022-05-25T14:26:53.309+0000  vegan parmesan

In [17]:
recipe_data_vegan_parmesan['timestamp'].value_counts()

2022-05-02T12:28:08.513+0000    1
2022-05-25T08:54:08.573+0000    1
2022-05-30T09:17:12.965+0000    1
2022-05-02T04:26:54.623+0000    1
2022-07-14T05:21:01.551+0000    1
2022-07-22T12:25:54.015+0000    1
2022-05-02T13:22:22.631+0000    1
2022-05-27T07:24:23.930+0000    1
2022-05-27T10:53:30.237+0000    1
2022-05-09T06:53:54.860+0000    1
2022-05-30T10:05:10.414+0000    1
2022-05-02T05:18:23.930+0000    1
2022-07-25T03:39:25.164+0000    1
2022-06-16T21:19:45.540+0000    1
2022-05-02T06:46:10.376+0000    1
2022-07-14T05:44:06.358+0000    1
2022-06-16T21:15:19.817+0000    1
2022-07-15T04:13:29.524+0000    1
2022-05-02T12:51:49.959+0000    1
2022-05-25T13:49:29.262+0000    1
2022-05-02T06:08:38.260+0000    1
2022-05-06T16:51:30.723+0000    1
2022-05-12T00:47:26.239+0000    1
2022-05-27T09:00:49.677+0000    1
2022-07-14T06:35:52.418+0000    1
2022-05-02T07:22:22.632+0000    1
2022-05-27T12:04:25.245+0000    1
2022-05-25T14:26:53.309+0000    1
2022-05-03T07:21:44.886+0000    1
2022-05-25T15:26:56.395+0000    1
2022-07-13T21:20:54.967+0000    1
2022-05-27T11:36:19.240+0000    1
2022-05-23T17:00:18.317+0000    1
2022-05-02T04:26:37.727+0000    1
2022-05-30T04:22:36.836+0000    1
2022-05-30T09:34:31.216+0000    1
2022-05-27T06:53:06.153+0000    1
2022-05-23T14:21:58.214+0000    1
2022-07-28T21:59:40.116+0000    1
2022-05-25T15:49:28.431+0000    1
2022-05-30T10:11:09.482+0000    1
2022-05-25T12:01:21.255+0000    1
2022-05-02T07:13:14.861+0000    1
2022-05-30T08:28:53.303+0000    1
2022-05-27T12:37:17.207+0000    1
Name: timestamp, dtype: int64

In [18]:
package_data['timestamp'].value_counts()

2022-05-16T14:44:54.427Z    2
2022-07-28T02:10:33.654Z    2
2022-05-10T08:55:29.397Z    2
2022-05-11T14:39:16.361Z    2
2022-05-31T14:49:32.279Z    2
                           ..
2022-06-28T16:39:09.858Z    1
2022-06-28T21:24:16.467Z    1
2022-06-28T14:09:44.908Z    1
2022-06-28T14:10:17.573Z    1
2022-07-15T00:49:27.268Z    1
Name: timestamp, Length: 270136, dtype: int64

In [21]:
package_data1 = package_data.drop(columns=['machine_identifier', 'good_packs'])

In [28]:
package_data1 = package_data1.dropna()

In [29]:
package_data1['timestamp'].value_counts()

2022-05-16T14:44:54.427Z    2
2022-07-28T02:10:33.654Z    2
2022-05-10T08:55:29.397Z    2
2022-05-11T14:39:16.361Z    2
2022-05-31T14:49:32.279Z    2
                           ..
2022-06-28T16:39:09.858Z    1
2022-06-28T21:24:16.467Z    1
2022-06-28T14:09:44.908Z    1
2022-06-28T14:10:17.573Z    1
2022-07-15T00:49:27.268Z    1
Name: timestamp, Length: 270136, dtype: int64

In [41]:
df3 = package_data1.merge(recipe_data_vegan_parmesan, on='timestamp')

In [42]:
df3

Empty DataFrame
Columns: [timestamp, reject_packs, machine_identifier, recipe]
Index: []

In [51]:
package_data1

                       timestamp  reject_packs
0       2022-05-04T13:05:49.295Z             1
1       2022-05-04T01:15:28.947Z             0
2       2022-05-04T06:13:54.767Z             4
3       2022-05-04T03:35:29.769Z             0
4       2022-05-04T03:53:27.950Z             0
...                          ...           ...
270150  2022-07-14T22:11:53.793Z             0
270151  2022-07-14T23:02:16.448Z             1
270152  2022-07-15T01:08:52.321Z             0
270153  2022-07-14T22:10:55.457Z             0
270154  2022-07-15T00:49:27.268Z             0

[270155 rows x 2 columns]

In [53]:
recipe_data_vegan_parmesan.head()

           machine_identifier                     timestamp          recipe
1   innovative_cheese_machine  2022-05-02T12:28:08.513+0000  vegan parmesan
7   innovative_cheese_machine  2022-05-27T09:00:49.677+0000  vegan parmesan
8   innovative_cheese_machine  2022-05-02T07:22:22.632+0000  vegan parmesan
9   innovative_cheese_machine  2022-05-27T12:04:25.245+0000  vegan parmesan
11  innovative_cheese_machine  2022-05-25T14:26:53.309+0000  vegan parmesan

In [66]:
pd.to_datetime(recipe_data_vegan_parmesan["timestamp"])

1    2022-05-02 12:28:08.513000+00:00
7    2022-05-27 09:00:49.677000+00:00
8    2022-05-02 07:22:22.632000+00:00
9    2022-05-27 12:04:25.245000+00:00
11   2022-05-25 14:26:53.309000+00:00
13   2022-05-03 07:21:44.886000+00:00
14   2022-05-25 15:26:56.395000+00:00
15   2022-07-13 21:20:54.967000+00:00
16   2022-05-27 11:36:19.240000+00:00
18   2022-05-23 17:00:18.317000+00:00
23   2022-05-02 04:26:37.727000+00:00
24   2022-05-30 04:22:36.836000+00:00
25   2022-05-30 09:34:31.216000+00:00
28   2022-05-27 06:53:06.153000+00:00
29   2022-05-23 14:21:58.214000+00:00
31   2022-07-28 21:59:40.116000+00:00
32   2022-05-25 15:49:28.431000+00:00
34   2022-05-30 10:11:09.482000+00:00
40   2022-05-25 12:01:21.255000+00:00
41   2022-05-02 07:13:14.861000+00:00
45   2022-05-30 08:28:53.303000+00:00
46   2022-07-14 06:35:52.418000+00:00
47   2022-05-12 00:47:26.239000+00:00
51   2022-05-25 08:54:08.573000+00:00
52   2022-05-06 16:51:30.723000+00:00
54   2022-05-30 09:17:12.965000+00:00
55   2022-05-02 04:26:54.623000+00:00
56   2022-07-14 05:21:01.551000+00:00
58   2022-07-22 12:25:54.015000+00:00
59   2022-05-02 13:22:22.631000+00:00
60   2022-05-27 07:24:23.930000+00:00
61   2022-05-27 10:53:30.237000+00:00
62   2022-05-09 06:53:54.860000+00:00
63   2022-05-30 10:05:10.414000+00:00
65   2022-05-02 05:18:23.930000+00:00
68   2022-07-25 03:39:25.164000+00:00
72   2022-06-16 21:19:45.540000+00:00
75   2022-05-02 06:46:10.376000+00:00
76   2022-07-14 05:44:06.358000+00:00
77   2022-06-16 21:15:19.817000+00:00
78   2022-07-15 04:13:29.524000+00:00
79   2022-05-02 12:51:49.959000+00:00
80   2022-05-25 13:49:29.262000+00:00
88   2022-05-02 06:08:38.260000+00:00
89   2022-05-27 12:37:17.207000+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

In [67]:
pd.to_datetime(package_data1["timestamp"])

0        2022-05-04 13:05:49.295000+00:00
1        2022-05-04 01:15:28.947000+00:00
2        2022-05-04 06:13:54.767000+00:00
3        2022-05-04 03:35:29.769000+00:00
4        2022-05-04 03:53:27.950000+00:00
                       ...
270150   2022-07-14 22:11:53.793000+00:00
270151   2022-07-14 23:02:16.448000+00:00
270152   2022-07-15 01:08:52.321000+00:00
270153   2022-07-14 22:10:55.457000+00:00
270154   2022-07-15 00:49:27.268000+00:00
Name: timestamp, Length: 270155, dtype: datetime64[ns, UTC]

In [61]:
df4 = pd.merge(package_data1, recipe_data_vegan_parmesan, on=["timestamp"],how="outer")

In [62]:
df4

,timestamp,reject_packs,machine_identifier,recipe
0,2022-05-04T13:05:49.295Z,1.0,NaN,NaN
1,2022-05-04T01:15:28.947Z,0.0,NaN,NaN
2,2022-05-04T06:13:54.767Z,4.0,NaN,NaN
3,2022-05-04T03:35:29.769Z,0.0,NaN,NaN
4,2022-05-04T03:53:27.950Z,0.0,NaN,NaN
...,...,...,...,...
270195,2022-07-15T04:13:29.524+0000,NaN,innovative_cheese_machine,vegan parmesan
270196,2022-05-02T12:51:49.959+0000,NaN,innovative_cheese_machine,vegan parmesan
270197,2022-05-25T13:49:29.262+0000,NaN,innovative_cheese_machine,vegan parmesan
270198,2022-05-02T06:08:38.260+0000,NaN,innovative_cheese_machine,vegan parmesan
270199,2022-05-27T12:37:17.207+0000,NaN,innovative_cheese_machine,vegan parmesan