In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt

In [2]:
oee_data = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/oee_data.csv')
package_data = pd.read_csv('Praxisnahe_Aufgabe/Aufgabe/package_data.csv')

In [3]:
oee_data

,machine_identifier,timestamp,expected_cycles_per_minute,actual_cycles_per_minute
0,innovative_cheese_machine,2022-05-09T04:44:33.000Z,NaN,0.368070
1,innovative_cheese_machine,2022-05-30T18:51:51.000Z,NaN,5.289140
2,innovative_cheese_machine,2022-06-02T10:47:03.000Z,NaN,8.800000
3,innovative_cheese_machine,2022-06-05T20:20:38.000Z,NaN,8.800000
4,innovative_cheese_machine,2022-05-03T10:20:10.000Z,9.0,NaN
...,...,...,...,...
120181,innovative_cheese_machine,2022-07-29T21:04:47.000Z,NaN,3.699137
120182,innovative_cheese_machine,2022-07-30T13:18:54.000Z,5.0,0.000000
120183,innovative_cheese_machine,2022-07-30T12:21:56.000Z,5.0,0.000000
120184,innovative_cheese_machine,2022-07-31T15:48:32.000Z,5.0,0.000000
120185,innovative_cheese_machine,2022-07-31T16:45:30.000Z,5.0,0.000000

In [4]:
oee_data['machine_identifier'].value_counts()

innovative_cheese_machine    120186
Name: machine_identifier, dtype: int64

In [5]:
oee_data['timestamp'].value_counts()

2022-05-19T09:11:29.000Z    2
2022-05-10T14:49:56.000Z    2
2022-05-09T04:44:33.000Z    1
2022-06-22T14:31:39.000Z    1
2022-06-22T08:35:25.000Z    1
                           ..
2022-06-01T19:30:57.000Z    1
2022-05-05T18:13:56.000Z    1
2022-05-11T14:15:17.000Z    1
2022-06-13T14:22:37.000Z    1
2022-07-31T16:45:30.000Z    1
Name: timestamp, Length: 120184, dtype: int64

In [6]:
oee_data.describe()

       expected_cycles_per_minute  actual_cycles_per_minute
count                  693.000000             119578.000000
mean                     8.024531                  6.134943
std                      1.234864                  2.793813
min                      4.000000                  0.000000
25%                      7.500000                  4.763417
50%                      8.300000                  7.000000
75%                      9.000000                  8.450705
max                     15.000000                 10.000000

In [7]:
package_data

,machine_identifier,timestamp,good_packs,reject_packs
0,innovative_cheese_machine,2022-05-04T13:05:49.295Z,23,1
1,innovative_cheese_machine,2022-05-04T01:15:28.947Z,24,0
2,innovative_cheese_machine,2022-05-04T06:13:54.767Z,20,4
3,innovative_cheese_machine,2022-05-04T03:35:29.769Z,24,0
4,innovative_cheese_machine,2022-05-04T03:53:27.950Z,24,0
...,...,...,...,...
270150,innovative_cheese_machine,2022-07-14T22:11:53.793Z,24,0
270151,innovative_cheese_machine,2022-07-14T23:02:16.448Z,23,1
270152,innovative_cheese_machine,2022-07-15T01:08:52.321Z,24,0
270153,innovative_cheese_machine,2022-07-14T22:10:55.457Z,24,0
270154,innovative_cheese_machine,2022-07-15T00:49:27.268Z,24,0

In [8]:
package_data.describe()

          good_packs   reject_packs
count  270155.000000  270155.000000
mean       22.895986       1.087787
std         3.287498       3.231681
min         0.000000       0.000000
25%        23.000000       0.000000
50%        24.000000       0.000000
75%        24.000000       1.000000
max        24.000000      24.000000

In [9]:
22.895986*270155

6185465.09783

In [10]:
package_data["good_packs"].sum()

6185465

In [11]:
package_data["reject_packs"].sum()

293871

In [13]:
package_data["good_packs"].sum() + package_data["reject_packs"].sum()

6479336